.main_page_number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    /* border: 1px solid red; */
}
.main_page_number button {
    padding: 6px 10px;
    border: transparent;
    background-color: rgb(200, 199, 199);
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}